



.card {
    border-radius: 30px;
    position: relative;
    width: 286px;
    height: 400px;
    font-weight: bolder;
    background-image: url(/public/images/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    overflow: hidden;
    position: relative;
    
    
}

.card::before , .card::after{
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    background: linear-gradient(45deg ,#ca4a05,#790441,#54067b);
    background-size: 400%;
    width: calc(100% + 7px);
    height: calc(100% + 7px);
    border-radius: 32px;
    z-index: -10;
    transition: 0.5s transform;
    
    animation: ani 20s linear infinite;
}




.card:hover{
    transform: scale(1.1);
    color: #fff;
}
.card:hover .dateCard p:nth-child(2){
  background-color: #b69740;
}



.card .presentationCard{
    
    height: 65%;
    display: flex;
    padding: 10px 0 0 0;
    
}


.presentationCard .data-presentation{
    width: 34.6%;
    display: flex;
    flex-direction: column;
    padding:10px 0 0 0;
    justify-content: space-between;
    align-items: center;
    height: 240px;
    
}
.data-presentation .age{
    font-size: 3.2rem;
}
.data-presentation .pos{
    font-size: 1.7rem;
}
.data-presentation .teamContainer{
    padding: 15px;
}
.teamContainer .team{
    object-fit: cover;
    
    width: 100%;
}


.card .imgplayer{
    position: absolute;
    top: 20px;
    left: 60px;
    height: 70%;
    
}


.card .dateCard{
    height: 35%;
    
}   
.dateCard p{
font-size: 1.8rem;
height: 50%;
background: #928334;
display: flex;
justify-content: center;
align-items: center;
}
.dateCard p:first-child{
background: transparent;

}
.dateCard p:nth-child(2){
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
color: #000;
}




